@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@layer base {
  body {
    @apply bg-[#e0e0e0] dark:bg-black/80 text-black/70 dark:text-white/90 overflow-hidden;
  }

  .hamburger-top,
  .hamburger-bottom {
    @apply absolute top-0 left-0 w-[22px] h-[2px] bg-black/70 dark:bg-white/70 transition-all duration-300;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.input-dark {
  background-color: #333333;
  box-shadow: 10px 10px 20px #2b2b2b, -10px -10px 20px #3b3b3b;
}

.input {
  background-color: #e0e0e0;
  box-shadow: 5px 5px 7px rgb(0, 0, 0, 0.2),
    -5px -5px 9px rgba(255, 255, 255, 10);
}

::-webkit-scrollbar {
  width: 5%;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}
