@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#e0e0e0] dark:bg-black/80 dark:text-white/90 overflow-x-hidden;
  }
}

.input-dark {
  background-color: #333333;
  box-shadow: 10px 10px 20px #2b2b2b, -10px -10px 20px #3b3b3b;
}

.input {
  background-color: #e0e0e0;
  box-shadow: 5px 5px 7px rgb(0, 0, 0, 0.2),
    -5px -5px 9px rgba(255, 255, 255, 10);
}

::-webkit-scrollbar {
  width: 10%;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}
